<div class = "main-wrapper" fxLayout = "row" fxLayoutAlign = "center center">
    <mat-card class = "box">
        <mat-card-header>
            <mat-card-title>Shortify</mat-card-title>
        </mat-card-header>
        <form class = "example-form" [formGroup] = "form">
            <mat-card-content>
                <mat-form-field class = "example-full-width" appearance = "outline">
                    <mat-label>URL</mat-label>
                    <input matInput formControlName = "lURL">
                </mat-form-field>
            </mat-card-content>  
        </form>
        <button *ngIf = "created == false"  mat-raised-button color = "primary" (click) = "onSubmit()" [disabled] = "!form.valid">Link verkürzen</button>
        <button *ngIf = "created == true"  mat-raised-button color = "primary" [cdkCopyToClipboard] = "newURL" (click) = "reset()" [disabled] = "!form.valid">Link kopieren</button>
    </mat-card>
</div>