<h2>URL Shortener:</h2>

<form [formGroup] = "form" (ngSubmit) = "onSubmit()">
    <p>
        <label>URL:</label>
        <input type="text" formControlName = "lURL">
    </p>

    <p>
        <label>Short ID:</label>
        <input type="text" formControlName = "sURL">
        
    </p>

    <p>
        <button type = "submit" [disabled] = "!form.valid">Speichern</button>
    </p>
</form>
<button (click) = "Generate()">Short ID generieren</button>
<p>{{newURL}}</p>
<p>{{Message}}</p>


<mat-slider min="1" max="100" step="1" value="50"></mat-slider>